<h1>About Rubypedia</h1>
<p>Rubypedia is a wiki-esque web application built in Rails5 by Lucas Cuba. Here you can sign up for an account and create/edit general knowledge articles. In order to create private posts and add others to those private posts, users must upgrade to premium status.
This application uses several gems to provide these services, including pundit, devise, and stripe.</p>
